*,
*::before,
*::after {
  padding: 0
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.125rem;
  line-height: 1.7;
}

body {
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slip {
  width: 420px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  padding: 2em;
  text-align: center;
}
